<nav class="navbar navbar-expand-lg justify-content-between custom">
    <button class="navbar-toggler logo" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
      <img class="logo navigate" src="../../../../assets/img/logo4.png" [routerLink]="['/home']">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item navigate">
          <a id="enlace-inicio" class="nav-link color-text" [routerLink]="['/home']">Inicio</a>
        </li>
        <li class="nav-item navigate">
          <a id="enlace-pagos" class="nav-link color-text" (click)="openDialogPagar()">Pagos</a>
        </li>
        <li class="nav-item navigate">
          <a id="enlace-consultar" class="nav-link color-text" (click)="openDialogConsultar()">Consultar</a>
        </li>
      </ul>
    </div>
    <div>

      <button id="btn-matriculado" type="button" class="btn btn-outline-dark  fw-bold" (click)="openDialogEstudiante()">Estoy matriculado</button>
    </div>
</nav>