.custom {
    background: rgb(255, 255, 255, 0.3);
    font-weight: 700;
}

.color-text {
    color: #fff;
    font-weight: 700;
}

.logo {
    height: 62px;
    width: auto;
}

.color{
    color: #000;
}

.navigate:hover { 
    color: #5384FF; 
    text-decoration: underline;
    cursor: pointer;
}
