<h2 mat-dialog-title class="text-center">Buscar estudiante</h2>
<div class="container ">
    <form class="d-flex flex-column" [formGroup]="form" >
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Ingrese nuevo nombre</mat-label>
            <input matInput formControlName="nombre" [value]=data.nombre>
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Ingrese nuevo email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Ingrese nueva ciudad</mat-label>
            <input matInput formControlName="ciudad">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Ingrese nueva direccion</mat-label>
            <input matInput formControlName="direccion">
        </mat-form-field>
    </form>
    <mat-dialog-actions align="center">
        <button type="submit" class="ancho altura" mat-raised-button color="warn"
                    [disabled]="form.invalid" (click)="onNoClick()">Cancelar</button>
        <button type="submit" class="ancho altura" mat-raised-button mat-dialog-close color="primary"
            [disabled]="form.invalid" (click)="actualizar()">Actualizar</button>
    </mat-dialog-actions>
    
</div>

