<div class="checkout_form">
    <div class="card_number" id="card-container">
        <div class="d-flex justify-content-between text-light mb-2">
            <label for="card">ref: {{ ref }}</label>
            <label for="card">valor a pagar: {{ valor }}</label>
        </div>
        <input type="text" class="input" id="card" placeholder="0000 0000 0000 0000" (keyup)="onKeyUp($event)" maxlength="19" minlength="18" autocomplete="off">
        <div id="logo"></div>
    </div>
    <div class="card_grp">
        <div class="expiry_date">
            <div class="d-flex flex-column text-light mb-2">
                <label for="card">mes</label>
                <input type="text" id="mes" class="expiry_input" data-mask="00" placeholder="Mes" (keyup)="onKeyUpMes($event)"  maxlength="2" minlength="2">
            </div>
            <div class="d-flex flex-column text-light mb-2">
                <label for="card">año</label>
                <input type="text" id="anio" class="expiry_input" data-mask="00" placeholder="Año" (keyup)="onKeyUpAnio($event)"  maxlength="4" minlength="4">
            </div>
        </div>
        <div class="cvc">
            <input type="text" id="cvv" class="cvc_input" data-mask="000" placeholder="000" maxlength="3">
            <div class="cvc_img">
                ?
                <div class="img">
                    <img src="./../../../../../assets/img/cvv.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <button id="btn-pagar" class="btn btn-primary border-0" (click)="pagar()">
        pay
    </button>
</div>