<div class="body d-flex justify-content-around">
    <div>
        <p  class="primary-text">MATRICULATE Y EMPIEZA A CONTRUIR <br>UN <span class="resaltar">NUEVO FURTURO</span> CON UN <br>NUEVO <span class="resaltar">IDIOMA</span></p>
        <h2 class="h2-text"><span class="resaltar-h">REGÍSTRATE</span> YA</h2>
    </div>
    <div>
        <mat-spinner *ngIf="loading" diameter="60"></mat-spinner>
    </div>
    <div class="container-form">
        <form [formGroup]="form" (ngSubmit)="matricularme()">
            <h1 class="resaltar-h fw-bold">Datos de matricula</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre completo</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Numero de identificacion</mat-label>
                <input type="number" matInput formControlName="numeroIdentificacion">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="direccion">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Idioma de interes</mat-label>
                <mat-select ngDefaultControl formControlName="programaId">
                    <mat-option *ngFor="let item of listaProgramas | async" [value]=item.id>{{ item.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button id="matricular" type="submit" class="ancho altura" mat-raised-button color="primary"
                [disabled]="form.invalid">Matricularme</button>
        </form>
    </div>
</div>