<div class="body">
    <div class="login">
        <form [formGroup]="form" (ngSubmit)="matricularme()">
            <p>Login</p>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre completo</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Numero de identificacion</mat-label>
                <input matInput formControlName="numeroIdentificacion">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="direccion">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Idioma de interes</mat-label>
                <mat-select formControlName="programa">
                    
                        <mat-option *ngFor="let item of listaProgramas | async" value=listaProgramas.id>{{ item.nombre }}</mat-option>
                    
                </mat-select>
            </mat-form-field>
            <br>
            <button type="submit" class="ancho" mat-raised-button color="primary"
                [disabled]="form.invalid">Matricularme</button>
        </form>
    </div>
</div>