<div class="body d-flex justify-content-around">
    
    <div>
        <p>MATRICULATE Y EMPIEZA A CONTRUIR TU NUEVO FURTURO<br> CON UN NUEVO IDIOMA</p>
        <p>REGÍSTRATE <br>YA</p>
    </div>
    <div class="container-form">
        <form [formGroup]="form" (ngSubmit)="matricularme()">
            <h1>Datos de matricula</h1>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Nombre completo</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Numero de identificacion</mat-label>
                <input matInput formControlName="numeroIdentificacion">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Ciudad</mat-label>
                <input matInput formControlName="ciudad">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Direccion</mat-label>
                <input matInput formControlName="direccion">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Idioma de interes</mat-label>
                <mat-select formControlName="programa">
                    <mat-option *ngFor="let item of listaProgramas | async" value={{item.id}}>{{ item.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <button type="submit" class="ancho altura" mat-raised-button color="primary"
                [disabled]="form.invalid">Matricularme</button>
        </form>
    </div>
</div>